.registry {
  width: 100%;
  font-family: 'EB Garamond', serif;
  font-weight: normal;
  text-align: center;
  min-height: 100vh;

  &__buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    // margin: auto;
    width: 100%;
  }

  &__registry-button {
    font-size: 22px;
    padding: 15px;
    border: none;
    color: white;
    backgrond-color: white;
    // background-color: #13a5a5;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    // width: 150px;
    text-transform: uppercase;
    margin: 0 5px;

    // &:hover {
    //   background-color: #03b7b7;
    // }
  }

  &__title {
    padding: 20px;
    font-size: 50px;
  }

  &__ask-for-money {
    font-size: 27px;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 50px;
    width: 60%;
    letter-spacing: 2px;

    h3 {
      padding: 20px;
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .registry__ask-for-money {
    padding: 40px 0;
    width: 98%;
    p {
      width: 85%;
      margin: auto;
      font-size: 20px;
    }
  }

  .registry__buttons {
    flex-flow: column;
    align-items: center;
  }

  .registry__registry-button{
    margin-bottom: 5px;
    width: 100%;
    background-color: white;
    height: 230px;
    padding: 0;
  }
}